# THERORY QUESTION ANSWER

# 1.What are data structures, and why are they important?
:-  Data structures are ways to store and organize data for efficient access and modification. They are important because they help in optimizing programs by choosing the right structure for specific tasks.
#Example:  Lists, tuples, dictionaries, and sets in Python.

# 2.Explain the difference between mutable and immutable data types with examples.
:- Mutable vs Immutable Data Types
Answer:
. Mutable: Can be changed after creation (e.g., lists, dictionaries).
. Immutable: Cannot be changed after creation (e.g., strings, tuples).

In [ ]:
#example
lst = [1, 2, 3]  # Mutable
lst.append(4)

s = "hello"  # Immutable
# s[0] = "H"  → Error

# 3.What are the main differences between lists and tuples in Python?
:- Lists vs Tuples in Python
. List: Mutable, dynamic, square brackets [].
. Tuple: Immutable, faster, parentheses ().

In [ ]:
#example
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

# 4.  Describe how dictionaries store data?
:- How Dictionaries Store Data.
 Dictionaries store data as key-value pairs using a hash table.

In [ ]:
#example
person = {"name": "Alice", "age": 25}

# 5. Why might you use a set instead of a list in Python?
:- Sets do not allow duplicates and are faster for checking membership.

In [ ]:
#example
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

# 6. What is a string in Python, and how is it different from a list?
:-  A string is a sequence of characters, immutable, while a list is mutable and can store various data types.

In [ ]:
#example
s = "hello"      # Immutable
lst = ['h', 'e', 'l', 'l', 'o']  # Mutable

# 7. How do tuples ensure data integrity in Python?
:- Tuples are immutable, so their contents can't be changed after creation, ensuring consistent data.

In [ ]:
#example
coordinates = (10.5, 20.3)  # Safe from modification

# 8. What is a hash table, and how does it relate to dictionaries in Python?
:- A hash table stores key-value pairs using a hashing function for fast access. Python dictionaries are implemented using hash tables.

# 9. Can lists contain different data types in Python?
:- Yes, lists in Python can store elements of different types.

In [ ]:
#example
my_list = [1, "hello", 3.14]

# 10. Explain why strings are immutable in Python.
:- To ensure data integrity and memory efficiency, since strings are widely used and shared in memory.

In [ ]:
#example
s = "hello"
# s[0] = "H"  → Error

# 11.What advantages do dictionaries offer over lists for certain tasks?
:- . Faster data lookup by key.
. Organized data as key-value pairs.

In [ ]:
#example
students = {"name": "John", "age": 20}

# 12. Describe a scenario where using a tuple would be preferable over a list.
:- When data should not change, like geographic coordinates or config values.

In [ ]:
#example
config = ("localhost", 8080)

# 13. How do sets handle duplicate values in Python?
:- Sets automatically remove duplicate values.

In [ ]:
#example
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

# 14. How does the “in” keyword work differently for lists and dictionaries?
:- In lists: Checks for presence of value.
In dictionaries: Checks for presence of key.

In [ ]:
#example
3 in [1, 2, 3]  # True
"name" in {"name": "Alice"}  # True

# 15. Can you modify the elements of a tuple? Explain why or why not.
:- No, tuples are immutable; elements cannot be changed.

In [ ]:
#example
t = (1, 2, 3)
# t[0] = 10 → Error

# 16. What is a nested dictionary, and give an example of its use case?
:-  A dictionary inside another dictionary.

In [ ]:
#example
student = {
    "name": "Alice",
    "marks": {"math": 90, "science": 85}
}

# 17. Describe the time complexity of accessing elements in a dictionary.
:- On average, accessing a value by key in a dictionary is O(1).

#  18. In what situations are lists preferred over dictionaries?
:-  When order and indexing matter and keys are not needed.

In [ ]:
#example
names = ["Alice", "Bob", "Charlie"]

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
:-. Prior to Python 3.7, dictionaries did not maintain insertion order.
. Retrieval by key, not position.
  Note: From Python 3.7+, order is preserved but not guaranteed for logical operations.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
:- List vs Dictionary: Data Retrieval
. List: Access via index.
. Dictionary: Access via key.

In [ ]:
#example
my_list = [10, 20, 30]
my_dict = {"a": 10, "b": 20}
print(my_list[1])  # 20
print(my_dict["b"])  # 20

# PRACTICAL QUESTION ANSWER

# 1. Write a code to create a string with your name and print it.
:- Create a string with your name and print it

In [ ]:
#Example
name = "John"
print(name)

# 2. Write a code to find the length of the string "Hello World".
:- Find the length of the string "Hello World"

In [ ]:
#example
text = "Hello World"
print(len(text))  # Output: 11

# 3. Write a code to slice the first 3 characters from the string "Python Programming.
:- Slice the first 3 characters from "Python Programming

In [ ]:
#example
s = "Python Programming"
print(s[:3])  # Output: Pyt

# 4. Write a code to convert the string "hello" to uppercase..
:- Convert the string "hello" to uppercase

In [ ]:
#example
s = "hello"
print(s.upper())  # Output: HELLO

# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
:- Replace "apple" with "orange" in "I like apple"

In [ ]:
#example
s = "I like apple"
print(s.replace("apple", "orange"))  # Output: I like orange

# 6.Write a code to create a list with numbers 1 to 5 and print it.
:- Create a list with numbers 1 to 5 and print it

In [ ]:
#example
numbers = [1, 2, 3, 4, 5]
print(numbers)

# 7 . Write a code to append the number 10 to the list [1, 2, 3, 4].
:- Append 10 to list [1, 2, 3, 4]

In [ ]:
#example
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)  # Output: [1, 2, 3, 4, 10]

# 8 . Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
:- Remove 3 from list [1, 2, 3, 4, 5]

In [ ]:
#example
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)  # Output: [1, 2, 4, 5]

# 9 . Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
:- Access second element in ['a', 'b', 'c', 'd']

In [ ]:
#example
lst = ['a', 'b', 'c', 'd']
print(lst[1])  # Output: b

# 10 . Write a code to reverse the list [10, 20, 30, 40, 50].
:-  Reverse list [10, 20, 30, 40, 50]

In [ ]:
#example
lst = [10, 20, 30, 40, 50]
print(lst[::-1])  # Output: [50, 40, 30, 20, 10]

# 11 . Write a code to create a tuple with the elements 100, 200, 300 and print it.
:- Create a tuple with elements 100, 200, 300

In [ ]:
#example
tup = (100, 200, 300)
print(tup)

# 12 . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue, 'yellow').
:-  Access second-to-last element in ('red', 'green', 'blue', 'yellow')

In [ ]:
#example
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

# 13 . Write a code to find the minimum number in the tuple (10, 20, 5, 15).
:- Find the minimum number (10, 20, 5, 15).

In [ ]:
#Example
nums = (10, 20, 5, 15)
print(min(nums))  # Output: 5

# 14 . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
:- Find index of "cat" in ('dog', 'cat', 'rabbit')

In [ ]:
#example
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))  # Output: 1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
:- Create tuple with 3 fruits & check for "kiwi"

In [ ]:
#example
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)  # Output: True

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
:- Create a set with 'a', 'b', 'c'

In [ ]:
#example
s = {'a', 'b', 'c'}
print(s)

# 17 . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
:- Clear all elements from {1, 2, 3, 4, 5}

In [ ]:
#example
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # Output: set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
:-  Remove 4 from {1, 2, 3, 4}

In [ ]:
#example
s = {1, 2, 3, 4}
s.remove(4)
print(s)  # Output: {1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
:- Union of {1, 2, 3} and {3, 4, 5}

In [ ]:
#example
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
:- Intersection of {1, 2, 3} and {2, 3, 4}

In [ ]:
#example
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

# 21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
:- Create dictionary with "name", "age", "city"

In [ ]:
#example
info = {"name": "John", "age": 25, "city": "New York"}
print(info)

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
:-  Add "country": "USA" to dictionary

In [ ]:
#exampe
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
:- Access value of "name" in {'name': 'Alice', 'age': 30}

In [ ]:
#example
d = {'name': 'Alice', 'age': 30}
print(d["name"])  # Output: Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
:-  Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
#example
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
:-Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

In [ ]:
#example
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)  # Output: True

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
:-  Create list, tuple, and dictionary & print them

In [ ]:
#example
lst = [1, 2, 3]
tup = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, tup, d)

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
:-List of 5 random numbers between 1–100, sort ascending

In [ ]:
#example
import random

nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

# 28. Write a code to create a list with strings and print the element at the third index.
:-Create list with strings and print element at third index

In [ ]:
#example
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # Output: date

# 29 . Write a code to combine two dictionaries into one and print the result.
:- Combine two dictionaries and print

In [ ]:
#example
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

# 30. Write a code to convert a list of strings into a set.
:-  Convert list of strings to set

In [ ]:
#example
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)  # Output: {'apple', 'banana', 'cherry'}